
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Patient_Layout.cshtml";
}

<link href="~/Content/Patient_css/Index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@700&display=swap" />

<div class="container">
    <img class="dashboard-child5" src="~/Content/Patient_css/public/line-2.svg" />
    <div class="dashboard2">Dashboard</div>
    <div class="dashboard-child6"></div>
    <div class="dashboard3">Dashboard</div>
    <div class="dashboard-child7"></div>
    <img class="dashboard-child8" src="~/Content/Patient_css/public/line-17.svg" />

    <div class="dashboard-child9"></div>
    <div class="dashboard-child10"></div>
    <div class="dashboard-child11"></div>
    <div class="dashboard-child12"></div>
    <div class="dashboard-child13"></div>

    <div class="doctors">DOCTORS</div>
    <div class="active-appointments">ACTIVE APPOINTMENTS</div>
    <div class="patients">PATIENTS</div>
    <div class="pending-appointments">PENDING APPOINTMENTS</div>
    <div class="medical-expenses">MEDICAL EXPENSES</div>
    <div class="medicines">MEDICINES</div>
    <div class="div">50</div>
    <div class="div1">20</div>
    <div class="div2">150</div>
    <div class="div3">35</div>
    <div class="div4">350,300</div>
    <div class="div5">60</div>
    <div class="announcement">Announcement</div>
    <div class="dashboard-child14"></div>
</div>

